<div class = "aboutAuthor">
 <div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
        <img src="https://banner2.kisspng.com/20180701/eta/kisspng-computer-icons-user-profile-avatar-icon-5b3899483fa7a8.4711163815304359122607.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
      </div>
      <div class="col s10">
              <span class="black-text">
                This site was created by TheSmartMaps Technology Group.<br>
                The main author of this idea is Daria Varlamova. <br>
                Produced in 2018. Ukraine, Odessa city.
              </span>
      </div>
    </div>
  </div>
 </div>
</div>
